h1,
.h1 {
	color: $color-turquoise;
	a {
		color: $color-turquoise;
	}
}
h2,
.h2,
h3,
.h3 {
	color: $color-purple;
	a {
		color: $color-purple;
	}
}
p.large,
.large p,
.large ul,
.large ol {
	font-size: rem-calc(19.2px);
}
h1,
.h1,
h2,
.h2,
h3,
.h3 {
	&.light {
		color: $white;
	}
}
p,
.p,
ul,
ol {
	
}
a {
	color: $black;
}
.font-serif {
	font-family: $font-serif;
}

.light {
	h1,
	.h1,
	h2,
	.h2,
	h3,
	.h3,
	p,
	.p,
	a {
		color: $white;
	}
}
.color-white {
	color: $white;
}