// Fonts
$font-sans: 'metropolis', Helvetica, Roboto, Arial, sans-serif;
$font-serif: 'BioRhyme', serif;

// Colors
$color-lime: #d2ee44;
$color-magenta: #d82682;
$color-orange: #ff9b11;
$color-purple: #771c7d;
$color-turquoise: #0098a4;
$color-yellow: #fff020;
$color-pale-blue: #eef8f9;