.cta-yellow-background-wicon-links {
	padding-top: rem-calc(32);
	background-image: linear-gradient(to bottom, $color-yellow, $color-lime);
	@include breakpoint(medium) {
		padding-top: rem-calc(53.5);
		padding-bottom: rem-calc(11.5);
	}
	h2 {
		margin-bottom: rem-calc(33);
	}
	a {
		display: block;
		margin-bottom: rem-calc(38.5);

		.icon-wrap {
			background-color: $color-turquoise;
			border-radius: 100%;
			max-width: 160px;
			margin: auto;
			box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
			margin-bottom: rem-calc(6);
			transition: .3s ease;
			@include breakpoint(medium) {
				margin-bottom: rem-calc(13);
			}
		&:before {
			content: '';
			display: block;
			position: absolute;
			border-radius: 100%;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-image: linear-gradient(to bottom, $color-orange, $color-magenta 32%, $color-purple 67%, $color-turquoise);
			opacity: 0;
			transition: .3s ease;
		}
			.inner {
				max-width: 154px;
				margin: auto;
				padding: 2rem;
				img {
					width: 100%;
		
				}
			}
		}
		.arrow-link {
			display: inline-flex;
			font-size: 1.5rem;
			line-height: 1.3;
			span {
				margin-right: 0.7rem;
			}
			svg {
				transform: translateX(-.4375);
				transition: .3s ease;	
			}
			@include breakpoint(small down) {
				svg {
					display: none;
				}
			}
		}	
	
	&:hover {
		text-decoration: none;
		color: $black;
		
		.icon-wrap {
			box-shadow: 0 16px 24px 0 rgba(0, 0, 0, 0.3);
		
		&:before {
			opacity: 1;
		}
		
		}
		
		.arrow-link svg {
			transform: translateX(0);
		}
		
	}
	
	}

}