.gradient-banner {
	padding-top: rem-calc(39.2);
	padding-bottom: rem-calc(42);
	background-image: linear-gradient(to bottom, ($color-turquoise), ($color-purple));
	@include breakpoint(medium) {
		padding-top: rem-calc(48);
		padding-bottom: rem-calc(49);
	}
	.left {
		padding-bottom: 1.38rem;
		@include breakpoint(medium only) {
			h1 {
				font-size: rem-calc(36);
			}
		}
	}
}