.logo-slider {
	.swiper-slide {
		img {
			max-height: 122px;
			width: auto;
		}
	}
	.swiper-pagination {
		position: static;
		.swiper-pagination-bullet {
			width: rem-calc(8);
			height: rem-calc(8);
			background-color: rgba($color-magenta, .4);
			margin: .5rem;
		&.swiper-pagination-bullet-active {
			background-color: $color-magenta;
		}
		}
	}
}