.video-embed {
	
}

.home .entry-content.default-page {
	.video-embed {
		padding-top: rem-calc(41.5);
		padding-bottom: rem-calc(22);
		@include breakpoint(medium) {
			padding-top: rem-calc(79.2);
			padding-bottom: rem-calc(63);
		}
		
	&.ntm {
		padding-top: 0;
	}
	&.nbm {
		padding-bottom: 0;
	}

		
	}
}